/* Google CSE Overrides */

.gsc-search-box,
.gcsc-branding,
.gsc-above-wrapper-area,
.gsc-url-top,
.gs-fileFormat,
.gsc-cursor-box,
.gsc-webResult:nth-last-child(n+4) {
	display: none !important;
}

.cse .gsc-control-cse, .gsc-control-cse {
border: none !important
}

element.style {
}
.cse .gsc-control-cse, .gsc-control-cse {
background-color: #fff;
border: 1px solid #fff;
}
.cse .gsc-control-cse, .gsc-control-cse,
.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
	padding: 0 !important;
}

.gsc-webResult .gsc-result {
	padding: 4px 0 4px 0 !important;
}

.gs-result .gs-title, .gs-result .gs-title * {
	text-decoration: none !important;
	font-size: 13px !important;
}

.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	background-color: #fff !important;
}

.gs-no-results-result {
	display: block !important;
}	


/* More styles */

.content-pad {
	padding: 10px 15px 10px 15px;
}

.document-frame {
clear: both;
}

.thumbnail {
width: 85px;
float: left;
margin: 0 20px 20px 0;
}