/* Google CSE Overrides */

.gsc-search-box,
.gcsc-branding,
.gsc-above-wrapper-area,
.gsc-url-top,
.gs-fileFormat,
.gsc-cursor-box,
.gsc-url-bottom,
/*#cse_libguides .gs-snippet,*/
.gsc-webResult:nth-last-child(n+4) {
	display: none !important;
}

#cse_libguides form.gsc-search-box,
#cse_web form.gsc-search-box {
	display: none !important;
}


#cse_libguides .gs-result .gs-title, 
#cse_libguides .gs-result .gs-title * {
height: auto;
line-height: 1.1;
}



.gsc-resultsbox-visible:after {
	content: "Powered by " url('https://www.google.com/uds/css/small-logo.png');
	vertical-align: top;
	font-size: 11px;
	text-align: right;
	width: 100%;
	display: block;
	padding-top: 5px;
	color: #A0A1A3;
}



.cse .gsc-control-cse, .gsc-control-cse {
border: none !important
}

element.style {
}
.cse .gsc-control-cse, .gsc-control-cse {
background-color: #fff;
border: 1px solid #fff;
}
.cse .gsc-control-cse, .gsc-control-cse,
.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
	padding: 0 !important;
}

.gsc-webResult .gsc-result {
	padding: 5px 0 5px 0 !important;
	border-bottom: none !important;
}

.gs-result .gs-title, .gs-result .gs-title * {
	text-decoration: none !important;
	font-size: 13px !important;
}

.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	background-color: #fff !important;
}

.gs-no-results-result {
	display: block !important;
}

.gsc-table-result td,
.gsc-table-result th {
	padding: 0 !important;
	font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif !important;
	font-size: 12px;
}

.gs-result .gs-title,
.gs-result .gs-title * {
	color: #0062A0 !important;
}


/* *********** */
/* More styles */

.content-pad {
	padding: 10px 15px 10px 15px;
}

.content-pad-right {
	padding: 10px 0px 10px 15px;
}

.content-pad-left {
	padding: 10px 15px 10px 0px;
}

.document-frame {
overflow: hidden;
}

.document-summary {
padding-left: 0 !important
}

.results-block {
	clear: both;
	margin-top: 1em;
	overflow: hidden;
}

.first {
	margin-top: 0;
}

.thumbnail {
width: 85px;
float: left;
margin: 0 15px 15px 0;
}

.thumbnail img {
	width: 100%;
}


.personResult .thumbnail {
float: none;
margin: 0 0 5px 0;	
}

.personResult {
float: left;
margin: 0 5px 0 5px;
width: 30%;
}

.personResult .title {
	color: #888;
	font-size: 12px;
	font-style: italic;
	line-height: 1.1;
}

.green {
	color: green;
}

.green a {
	color: green !important;
	text-decoration: underline !important;
}

.red {
	color: red;
}

.red a {
	color: red !important;
	text-decoration: underline !important;
}

.search-results-nav {
	display: none;
}


@media (min-width: 740px) and (max-width: 979px) {

	.thumbnail {
		width: 50px;
		float: left;
		margin: 0 10px 10px 0;
	}

}


@media (max-width: 739px) {
  
	.search-results-nav {
		display: block;
		margin-top: 1em;
		margin-bottom: .5em;
	}
	
	.search-results-nav ul,
	.search-results-nav li {
		list-style: none;
		padding:0;
		margin:0;
	}
	
	.search-results-nav li {
		float: left;
	}
	
	.search-results-nav li a {
		padding: 5px;
		margin: 5px;
		font-size: 115%;
	}
	
	.content-pad-left,
	.content-pad-right,
	.content-pad {
		padding:0;
	}
	

}